.site-header-top {
  background-color: $color-gray;
  padding: 12px 0;

  &__content {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }

  &--mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $color-gray;
    z-index: 9999;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;

    &__content {
      display: flex;
      justify-content: space-between;

      svg {
        height: 35px !important;
        width: auto;
      }
    }
  }
}
