.site-footer {
  &__title {
    color: #fff;
    max-width: 700px;
  }

  &__contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-gray;
    height: 100%;
    width: 100%;

    @media (min-width: 1024px) {
      align-items: center;
    }

    &__underlay {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-color: $color-gray;
      z-index: 0;

      @media (min-width: 1024px) {
        left: 0;
        height: calc(100% + 58px);
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      z-index: 10;
    }
  }
}

.site-footer-content {
  background-color: $dark-blue;
  margin-bottom: 80px;

  @media (min-width: 1024px) {
    margin-bottom: 180px;
  }
}

.site-footer-credits {
  &__copy {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}
