<a href="{{url}}" target="_blank" class="icon-link {{footer ? 'icon-link--footer' : ''}} {{classes}}">
    {% if icon %}
        {% include 'assets/images/' ~ icon ~ '.svg' %} 
    {% endif %}
       
    <span>{{text}}</span>
</a>