{#
 # Template for a single content footer.
 #
 # @version 1.0.0
 #
 # @var post	The Timber Post object.
 #}

<footer class="single-footer single-footer--{{ post.type }}">
  {% if blog_contact_form %}
    <div class="container md:px-6 single-footer__form pt-12 pb-3 mb-8">
      <div class="grid grid-cols-12">
        {% if blog_form_title %}
          <div class="col-span-12 lg:col-span-6">
            <h2 class="single-footer__form__title mb-4 lg:mb-0">{{blog_form_title}}</h2>
          </div>
        {% endif %}

        <div class="col-span-12 lg:col-span-6">
          {% filter shortcodes %}
            [contact-form-7 id="{{blog_contact_form.ID}}"]
          {% endfilter %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if related_post %}
    {% include "teaser/teaser-post-related/teaser-post-related.twig" with { post: related_post } %}
  {% endif %}
</footer>
