.nav-languages {
  position: relative;
  overflow: visible;
  list-style-type: none;
  text-transform: capitalize;
  transition: all 0.15s ease-in-out;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    .nav-languages__link {
      .nav-label {
        color: $color-red !important;
      }

      svg {
        path {
          fill: $color-red;
        }
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: -100%;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .nav-languages__dropdown {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $color-body;
    transition: all 0.15s ease-in-out;
    font-size: 12px;
    line-height: 1.5;

    @media (min-width: 420px) {
      font-size: 14px;
      line-height: 1.5;
    }

    svg {
      &:not(:last-child) {
        height: 15px;
        width: auto;
      }

      path {
        fill: $color-body;
        transition: all 0.15s ease-in-out;
      }
    }

    .nav-label {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      transition: all 0.15s ease-in-out;

      @media (min-width: 768px) {
        margin-left: 11px;
        margin-right: 11px;
      }
    }
  }

  &__dropdown {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.2s, 0s;
    transition-property: visibility, opacity;
    transition-duration: 0s, 0.2s;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: $color-gray;
    position: absolute;
    top: 30px;
    left: -200%;
    z-index: 9999;

    @media (min-width: 768px) {
      left: -120%;
    }

    @media (min-width: 1024px) {
      left: -130%;
    }

    &-item {
      color: $color-body;
      text-transform: capitalize;
      transition: all 0.15s ease-in-out;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: $color-red;
      }
    }
  }
}
