.nav-desktop {
  flex-direction: row;
  align-items: center;

  &__item {
    position: relative;
    overflow: visible;
    text-align: center;
    margin-bottom: 0;

    &--dropdown {
      &:hover {
        cursor: pointer;

        .nav-desktop__dropdown-menu {
          visibility: visible;
          opacity: 1;
          transition-delay: 0s;
        }

        &::after {
          display: block;
          content: "";
          position: absolute;
          bottom: -100%;
          left: 0;
          height: 100%;
          width: 100%;
        }

        .nav-desktop__link {
          color: $color-red;

          svg {
            path {
              fill: $color-red !important;
            }
          }
        }
      }
    }
  }

  &__link {
    color: $color-body;
    font-size: 16px;
    line-height: 1.5;
    transition: all 0.15s ease-in-out;

    &:hover,
    &:focus,
    &.active {
      color: $color-red;
    }

    &--toggle {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 10px;
        width: auto;
        margin-left: 6px;

        path {
          transition: all 0.15s ease-in-out;
          fill: $color-body;
        }
      }
    }
  }

  &__dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.2s, 0s;
    transition-property: visibility, opacity;
    transition-duration: 0s, 0.2s;
    padding: 20px 0;

    @media (min-width: 1024px) {
      padding: 20px 30px;
      position: absolute;
      top: 30px;
      left: 0;
      background-color: $color-gray;
    }

    &.show {
      display: block;
      opacity: 1;
      transition-delay: 0s;
    }
  }

  &__dropdown-item {
    display: block;
    color: $color-body;
    transition: all 0.15s ease-in-out;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $color-red;
    }
  }
}
