.teaser-post-feed {
  display: block;
  width: 100%;
  transition: all 0.15s ease-in-out;
  color: $color-body;

  &:hover,
  &:focus {
    color: $color-body;
    text-decoration: none;
    opacity: 0.3;
  }

  &__date {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 2px;
  }

  &__preview {
    font-size: 14px;
    line-height: 1.5;
  }
}
